# editors
.idea/
.vscode/

# python
*.egg-info/
*.py[cod]
.venv/
.venvs/
/build/
/dist/
.python-version

# tools
.coverage*
/.pdm-build/
/htmlcov/
/site/
uv.lock

# cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/

# cursor
.cursorrules

# Ignore output directories from Titanic tests
/tests/test_data/titanic/optuna_results/
/tests/test_data/titanic/test_results/

# Ignore output directories from Dream tests
/tutorials/dream/dream_train.csv

# Ignore output directories from Optuna tests
.DS_Store

CLAUDE.md

# Models
*.safetensors

# Example outputs
/examples/output